DB_HOST=localhost
DB_USER=postgres
DB_PASS=tu_password_aqui
DB_NAME=nox
DB_PORT=5432
JWT_SECRET=noxsecretkey2026
PORT=3001
STRIPE_SECRET_KEY=sk_test_AQUI_TU_CLAVE_STRIPE
OPENAI_API_KEY=sk-AQUI_TU_CLAVE_OPENAI
